@using CRMModel.Models.Data
@model List<AllowanceOrDeduct>
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}



<div id="main">
    <div class="main-content">
        <section class="section_admin_setup">
            <div class="module-title">
                <img src="images/layout/left-arrow.svg" alt="" />
                <h2>Setup chung</h2>
            </div>
            <div class="module-content">
                <form>
                    @if (Model != null)
                    {
                        foreach (var item in Model)
                        {
                            if (item.Id == 1)
                            {
                                <div class="content-input">
                                    <div class="content-item input-group">
                                        <input value="@item.Id" hidden class="id_chuyen_can" />
                                        <label for="">Thưởng chuyên cần</label>
                                        <div class="input">
                                            <input type="text" class="form-control isNumber" id="chuyen_can" value="@string.Format("{0:#,0}", item.AllowanceAmount)">
                                            <div class="unit">VND/Tháng</div>
                                        </div>
                                    </div>
                                </div>
                            }
                            else if (item.Id == 2)
                            {
                                <div class="content-input">
                                    <div class="content-item input-group">
                                        <input value="@item.Id" hidden class="id_cong_doan" />
                                        <label for="">Phí công đoàn</label>
                                        <div class="input">
                                            <input type="text" class="form-control isNumber" id="cong_doan" value="@string.Format("{0:#,0}", item.AllowanceAmount)">
                                            <div class="unit">VND/Tháng</div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    }
                    <div class="content-button">
                        <button type="button" class="btn-green" id="btnSubmit">Submit</button>
                        <button type="button" class="btn-gray"><a href="/home" style="color: white">Cancel</a></button>
                    </div>
                </form>
            </div>
        </section>
    </div>
</div>
@section Scripts {
    <script src="~/js/controllers/allowance.js"></script>
}
