
@{
    ViewData["Title"] = "Index";
}
@section Styles{
    <style>
        body {
            color: #353535;
            font-family: 'Open Sans', sans-serif;
            font-weight: 400;
            background: #f3f6ff;
        }

        .product-item .product-price {
            padding: 5px;
            min-height: 95px;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
        }

        .product-item .product-image img {
            height: 200px;
            object-fit: contain;
        }

        .product-item .product-title {
            height: 65px;
            text-transform: uppercase;
            padding: 5px;
        }

        .product-item .product-price .btn {
            min-width: 60px;
            padding: 5px;
            margin: 5px;
        }

        .product-item .product-price h4 {
            padding-top: 5px;
            color: white;
            width: 100%;
        }

        .product-item .product-price span {
            text-transform: uppercase;
        }

        .product-image .label {
            background: yellow;
            opacity: 0.5;
            color: red;
            text-align: right;
        }

            .product-image .label .text {
                text-transform: uppercase;
                background: red;
                color: white;
                padding-top: 5px;
                padding-left: 5px;
                padding-right: 5px;
            }
        .slick-slide img {
            width: 66%;
            margin: 0 auto;
        }

        .product-price .timer {
            background: red;
            color: white;
            position: absolute;
            bottom: 86px;
            padding-left: 5px;
            padding-right: 5px;
        }
    </style>
}

<p>Index</p>

@section Scripts{
    
}
