@using CRMBussiness.ViewModel
@model BranchViewModel
<div class="header-modal">
    <h3 class="modal__title"></h3>
    <span title="close" modal-show="close" class="close__modal">
        <img src="/Assets/crm/images/employee-manage/close-modal.svg"
             alt="" />
    </span>
</div>
<div class="body-modal add-employee_body-modal">
    <img src="/Assets/crm/images/employee-manage/delete-modal.png"
         alt="" />
    <p id="txt-del-emp">
        Bạn có chắc chắn muốn xóa chi nhánh <span>@Model.BranchName</span> không?
    </p>
</div>
<div class="footer-modal">
    <button id="delete-empl"
            class="close__btn btn-green"
            type="button">
        Đồng ý
    </button>
    <button modal-show="close"
            class="close__btn btn-gray"
            type="button">
        Hủy bỏ
    </button>
</div>