.section_sales-management-2 .search .search-item {
    margin-bottom: 20px
}

.section_sales-management-2 .search .search-button button {
    -ms-flex-item-align: start;
    align-self: flex-start;
    margin: 20px 0 0
}

.section_sales-management-2 .employee-sales .modal-item {
    display: grid;
    grid-template-columns: 1fr 2fr;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

    .section_sales-management-2 .employee-sales .modal-item p {
        padding: 0;
        margin: 0
    }

    .section_sales-management-2 .employee-sales .modal-item .label {
        color: #828282;
        font-size: 16px;
        line-height: 24px;
        text-align: left;
        font-weight: 400
    }

    .section_sales-management-2 .employee-sales .modal-item .detail {
        text-align: right;
        color: #4f4f4f;
        line-height: 24px
    }

    .section_sales-management-2 .employee-sales .modal-item .sale > input {
        height: 40px;
        border-radius: 2px
    }

#main .main-content .input-group input, #main .main-content .select2-container--default .select2-selection--single, #main .main-content button {
    height: 36px
}

.section_sales-management-2 .employee-sales .footer-modal .group-button {
    margin: 0 -8px -10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end
}

    .section_sales-management-2 .employee-sales .footer-modal .group-button button {
        margin: 0 8px 10px
    }

.main-right {
    position: relative;
    padding-top: 88px
}

#header, .main-left .logo {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2
}

@media (max-width:767px) {
    .main-right {
        padding-top: 70px
    }
}

#header {
    -webkit-box-shadow: 0 4px 16px rgba(145,152,164,.25);
    box-shadow: 0 4px 16px rgba(145,152,164,.25)
}

#main .main-content input {
    font-size: 14px
}

#main .main-content .module-wrapper {
    padding: 40px 44px
}

@media (max-width:1199px) {
    #main .module-wrapper {
        padding: 20px
    }
}

@media (max-width:767px) {
    #main .module-wrapper {
        padding: 15px
    }
}

.main-left {
    padding-top: 88px
}

    .main-left .logo {
        -webkit-box-shadow: -2px 4px 15px rgba(0,0,0,.25);
        box-shadow: -2px 4px 15px rgba(0,0,0,.25)
    }

    .main-left .menu {
        min-height: 100%;
        height: 100%
    }

@media (max-width:991px) {
    .main-left .main-left {
        padding-top: 70px
    }

        .main-left .main-left .logo {
            -webkit-box-shadow: unset;
            box-shadow: unset;
            height: 70px;
            border: none
        }

        .main-left .main-left .show__menu {
            font-size: 20px
        }
}
