@model CRMBussiness.ViewModel.TypeCallViewModel

<!-- header -->
<div class="header-modal">
    <h3 class="modal__title">chỉnh sửa phân loại cuộc gọi</h3>
    <span title="close" modal-show="close" class="close__modal">
        <img src="/Assets/crm/images/layout/close-modal.svg" alt="" />
    </span>
</div>

<!-- body -->
<div class="body-modal">
    <form id="update-form">
        <div class="bs-row">
            <input type="hidden" name="Id" value="@Model.Id" />
            <input type="hidden" name="TypeCallCode" value="@Model.TypeCallCode" />
            <!-- modal item -->
            <div class="bs-col sm-50">
                <div class="modal-item">
                    <label>Tên phân loại</label>
                    @Html.EditorFor(model => model.NameTypeCall, new { htmlAttributes = new { @class = "" } })
                </div>
            </div>
        </div>
    </form>
</div>

<!-- footer -->
<div class="footer-modal">
    <button id="update-type-call"
            class="close__btn btn-green"
            type="button">
        Cập nhật
    </button>
    <button modal-show="close"
            class="close__btn btn-gray"
            type="button">
        Hủy bỏ
    </button>
</div>