@section Styles{
    <link rel="stylesheet" href="~/Content/css/style.css" />

}
<style>
    .modal-item .label {
        color: #828282;
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
        text-align: left;
    }

    .modal-item .detail {
        text-align: right;
        color: #4f4f4f;
        line-height: 24px;
    }

    #search-book-form{
        width: 100%
    }
    #table-body tr th {
        padding: 5px;
        border: 1px solid #b7bbbf;
    }

    #table-body tr td {
        padding: 20px 10px;
        border: 1px solid #b7bbbf;
    }

    #table-body tr:hover td {
        background-color: #f8f8f9;
        border: 1px solid #b7bbbf !important;
    }
</style>

<section class="section_admin_showup-concern-level-manage">
    <div class="module-title">
        <img src="/Assets/crm/images/layout/left-arrow.svg" alt="" />
        <h2>Quản lý truyện</h2>
    </div>

    <div class="module-content">
        <div class="search" id="search-book" style="margin: 10px 85px 10px 40px;">
            <form id="search-book-form">
                <div class="bs-row" style="width: 100%;">
                    <!-- col -->
                    <div class="bs-col md-50 xs-50">
                        <div class="search-item input-group">
                            <label>Tìm kiếm theo tên và mô tả</label>
                            <input type="text" placeholder="Tên truyện và mô tả" name="Key" />
                        </div>
                    </div>
                    <!-- col -->
                    <div class="bs-col md-25 xs-50">
                        <div class="search-item input-group">
                            <label>Danh mục</label>
                            <select class="select2 select-category" name="CategoryId">
                                <option value="">-- Danh mục --</option>

                            </select>
                        </div>
                    </div>
                    <!-- col -->
                    <div class="bs-col md-25 xs-50">
                        <div class="search-item input-group">
                            <label>Giới tính</label>
                            <select class="select2 select-sex" name="SexId">
                                <option value="">-- Đối tượng --</option>

                            </select>
                        </div>
                    </div>
                    <!-- col -->
                    <div class="bs-col md-25 xs-50">
                        <div class="search-item input-group">
                            <label>Ngày cập nhật từ</label>
                            <div class="date-select">
                                <input type="text" class="search__input autofill_today" name="DateStart">
                                <img src="/Assets/SA/images/layout/date.svg" alt="">
                            </div>
                        </div>
                    </div>
                    <!-- col -->
                    <div class="bs-col md-25 xs-50">
                        <div class="search-item input-group">
                            <label>Ngày cập nhật đến</label>
                            <div class="date-select">
                                <input type="text" class="search__input autofill_today" name="DateEnd">
                                <img src="/Assets/SA/images/layout/date.svg" alt="">
                            </div>
                        </div>
                    </div>
                    <!-- col -->
                    <div class="bs-col md-25 xs-50">
                        <div class="search-item input-group">
                            <label>Trạng thái</label>
                            <select class="select2 select-status" name="Status">
                                <option value="">-- Trạng thái --</option>

                            </select>
                        </div>
                    </div>
                    <!-- col -->
                    <div class="bs-col md-25 xs-50" style="padding-top: 19px;">
                        <div class="button-search-book" style="display: flex">
                            <button type="button" id="btn-search-book" class="md-50 btn-primary">Tìm kiếm</button>
                            <button type="button" class="md-50 btn-green" modal-show="show"
                                    modal-data="#book-add">
                                Thêm mới
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class="data-table tr-bordered" style="margin: 0 50px; overflow: auto;">
            <table style="min-width: 1500px;">
                <tbody id="table-body">
                    <tr>
                        <th class="text-center">Tên truyện</th>
                        <th class="text-center">Tác giả</th>
                        <th class="text-center">Danh mục</th>
                        <th class="text-center">Hình ảnh</th>
                        <th class="text-center">Giới tính</th>
                        <th class="text-center">Điểm đánh giá</th>
                        <th class="text-center">Trạng thái</th>
                        <th class="text-center">Action</th>
                    </tr>

                </tbody>
            </table>
            <div class="select_pagination">
                <div class="select" id="size-page">
                    <p>Hiển thị từ <span class="from"></span> đến <span class="to"></span> trong tổng số <span class="total"></span> bản ghi. Hiển thị</p>
                    <select>
                        <option value="10">10</option>
                        <option value="15">15</option>
                        <option value="20">20</option>
                        <option value="30">30</option>
                    </select>
                    <p>&nbsp;bản ghi trên trang.</p>
                </div>
                <div class="pagination" id="pagination">
                </div>
            </div>
            <!--Modal Add-->
            <div class="bs-modal book-add" id="book-add">
                <div class="modal-frame">
                    <div class="content-modal">
                        <div class="header-modal">
                            <h3 class="modal__title">Thêm mới truyện</h3>
                            <span title="close" modal-show="close" class="close__modal">
                                <img src="/Assets/SA/images/layout/close-modal.svg" />
                            </span>
                        </div>
                        <form id="frm-book-add">
                            @Html.AntiForgeryToken()
                            <div class="body-modal">
                                <div class="bs-row">
                                    <!-- modal item -->
                                    <div class="bs-col md-50">
                                        <div class="modal-item">
                                            <label>Danh mục</label>
                                            <select class="select2 select-category" multiple="multiple" name="CategoryIds">
                                                <option value="">-- Danh mục --</option>

                                            </select>
                                        </div>
                                    </div>
                                    <!-- modal item -->
                                    <div class="bs-col md-50">
                                        <div class="modal-item">
                                            <label>Tác giả</label>
                                            <select class="select2 select-author" name="authorAccountId">
                                                <option value="">-- Tác giả --</option>

                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="bs-row">
                                    <!-- modal item -->
                                    <div class="bs-col md-50">
                                        <div class="modal-item">
                                            <label>Giới tính</label>
                                            <select class="select2 select-sex" name="bookSexId">
                                                <option value="">-- Đối tượng --</option>

                                            </select>
                                        </div>
                                    </div>
                                    <!-- modal item -->
                                    <div class="bs-col md-50">
                                        <div class="modal-item">
                                            <label>Trạng thái</label>
                                            <select class="select2 select-status" name="isEnable">
                                                <option value="">-- Trạng thái --</option>

                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="bs-row">
                                    <!-- modal item -->
                                    <div class="bs-col md-100">
                                        <div class="modal-item">
                                            <label>Tên sách</label>
                                            <input type="text" name="BookName" />
                                        </div>
                                    </div>
                                    <!-- modal item -->
                                    <div class="bs-col md-100">
                                        <div class="modal-item">
                                            <label>Mô tả</label>
                                            <textarea type="text" name="BookDescription" style="max-height: 100px"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="bs-row">
                                    <!-- modal item -->
                                    <div class="bs-col md-50">
                                        <div class="modal-item">
                                            <label>Độ tuổi giới hạn</label>
                                            <input type="text" name="adultLimit" class="isNumberF" />
                                        </div>
                                    </div>
                                    <!-- modal item -->
                                    <div class="bs-col md-50">
                                        <div class="modal-item">
                                            <label>Cho phép bình luận</label>
                                            <select class="select2 select-commentAllowed" name="commentAllowed">

                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="footer-modal">
                                <div class="group-button">
                                    <button type="button" modal-show="close" class="btn-gray close__modal">Hủy bỏ</button>
                                    <button type="button" class="btn-green btn-add-book">Thêm mới</button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
            <!--Modal Edit-->
            <div class="bs-modal book-edit" id="book-edit">
                <div class="modal-frame">
                    <div class="content-modal">

                    </div>
                </div>
                @*<div class="modal-frame">
                    <div class="content-modal">
                        <div class="header-modal">
                            <h3 class="modal__title">Doanh số nhân viên</h3>
                            <span title="close" modal-show="close" class="close__modal">
                                <img src="/Assets/SA/images/layout/close-modal.svg" />
                            </span>
                        </div>

                        <div class="body-modal">
                            <div class="modal-item">
                                <p class="label">Tên nhân viên</p>
                                <p class="detail">Nguyễn văn A</p>
                            </div>
                            <div class="modal-item">
                                <p class="label">Phòng ban</p>
                                <p class="detail">Phòng ban 1</p>
                            </div>
                            <div class="modal-item">
                                <p class="label">Nhóm</p>
                                <p class="detail">Nhóm 2</p>
                            </div>
                            <div class="modal-item">
                                <p class="label">Doanh số</p>
                                <p class="detail sale">
                                    <input />
                                </p>
                            </div>
                        </div>

                        <div class="footer-modal">
                            <div class="group-button">
                                <button class="btn-gray">Hủy bỏ</button>
                                <button class="btn-green">Cập nhật</button>
                            </div>
                        </div>

                    </div>
                </div>*@
            </div>
            <div class="bs-modal delete-modal" id="book-delete">
                <div class="modal-frame">
                    <div class="content-modal">
                        <div class="header-modal">
                            <h3 class="modal__title"></h3>
                            <span title="close" modal-show="close" class="close__modal">
                                <img src="/Assets/crm/images/employee-manage/close-modal.svg" alt="" />
                            </span>
                        </div>
                        <div class="body-modal add-book-modal">
                            <img src="/Assets/crm/images/employee-manage/delete-modal.png"
                                 alt="" />
                            <p id="txt-del-book">
                                Bạn có chắc chắn muốn xóa nhân sự <span>xxxxxxxxxxx</span> không?
                            </p>
                        </div>
                        <div class="footer-modal">
                            <button id="delete-book"
                                    class="close__btn btn-green"
                                    type="button">
                                Đồng ý
                            </button>
                            <button modal-show="close"
                                    class="close__btn btn-gray"
                                    type="button">
                                Hủy bỏ
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

@section Scripts{
    <script>
        //$('.form_datetime').datetimepicker('update', new Date());


    </script>
    <script src="~/Content/js/app.js"></script>
    <script src="~/Content/js/extend/method.js"></script>
    <script src="~/js/system.js"></script>
    <script src="~/js/controllers/book.js"></script>
}