@{
    ViewBag.Title = ViewBag.Title;
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    Dictionary<int, string> InvestorStatus = (Dictionary<int, string>)ViewBag.InvestorStatus;
}
@section Styles{
    @*<link rel="stylesheet" href="~/Content/css/bootstrap.min.css" />*@
    <link rel="stylesheet" href="~/Content/css/fontawesome-all.min.css" />
    <link rel="stylesheet" href="~/Content/css/nprogress.css" />
    <link rel="stylesheet" href="~/Content/css/jquery.mCustomScrollbar.min.css" />
    <link rel="stylesheet" href="~/Content/css/custom.min.css" />
    <link rel="stylesheet" href="~/Content/css/cropper.min.css" />
    <link rel="stylesheet" href="~/Content/css/style.css" />
    <link rel="stylesheet" href="~/Content/css/toastr.min.css" />
    <link rel="stylesheet" href="~/Content/css/bootstrap-table.min.css" />
    <link rel="stylesheet" href="~/Content/css/bootstrap-editable.css" />
    <link rel="stylesheet" href="~/Content/css/select2.min.css" />
}
@section Scripts{
    @* Hungvx js *@
    @*<script src="~/Content/js/jquery.min.js"></script>*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/autonumeric/4.1.0/autoNumeric.min.js" integrity="sha512-U0/lvRgEOjWpS5e0JqXK6psnAToLecl7pR+c7EEnndsVkWq3qGdqIGQGN2qxSjrRnCyBJhoaktKXTVceVG2fTw==" crossorigin="anonymous"></script>
    <script src="~/Content/js/define/Define_ShortcutKeyboard.js"></script>
    <script src="~/Content/js/define/Define_AutoNumeric.js"></script>
    @*<script src="~/Content/js/bootstrap.min.js"></script>*@
    <script src="~/Content/js/bootstrap-datepicker.min.js"></script>
    <script src="~/Content/js/bootstrap-datepicker.vi.min.js"></script>
    <script src="~/Content/js/fastclick.js"></script>
    <script src="~/Content/js/nprogress.js"></script>
    @*<script src="~/Content/js/jquery.mCustomScrollbar.concat.min.js"></script>*@
    <script src="~/Content/js/custom.min.js"></script>
    @*<script src="~/Content/js/toastr.min.js"></script>*@
    <script src="~/Content/js/moment.min.js"></script>
    <script src="~/Content/js/moment-with-locales.js"></script>
    <script src="~/Content/js/jquery.cookie.js"></script>
    <script src="~/Content/js/extend/toastr.js"></script>
    <script src="~/Content/js/extend/method.js"></script>
    <script src="~/Assets/vendors/jquery-number/jquery.number.js"></script>
    <script src="~/Assets/common/extendDate.js"></script>
    <script src="~/Assets/common/extendNumber.js"></script>
    <script src="~/Assets/common/extendString.js"></script>
    <script src="~/Assets/common/extendJquery.js"></script>
    <script src="~/Assets/common/extendMethods.js"></script>
    <script src="~/Assets/vendors/jquery-number/jquery.number.min.js"></script>
    <script src="~/Content/js/bootstrap-table.min.js"></script>
    <script src="~/Content/js/bootstrap-table-vi-VN.min.js"></script>
    <script src="~/Content/js/select2.full.min.js"></script>
    <script src="~/Content/js/app.js"></script>
    <script src="~/Content/js/extend/upfile.js"></script>
    @* End *@
    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>*@
    @*<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@
    @*<script src="~/lib/toarst/toastr.js"></script>*@
    @*<script src="~/js/site.js" asp-append-version="true"></script>*@
    <script src="~/js/alert.js"></script>
    <script src="~/js/controllers/customer.js"></script>

}
<section class="content-header">
    <ol class="breadcrumb">
        <li><a href="/Dashbroad"><i class="fa fa-home"></i></a></li>
        <li><a href="#">Quản lý khách hàng</a></li>
        <li class="active">@ViewBag.Title</li>
    </ol>
</section>
<div class="content-body">
    <div class="panel panel-info">
        <div class="panel-heading">
            @ViewBag.Title
            <div class="pull-right">
                <a class="hidden-sm hidden-xs" href="~/Templates/Import/Contact_Template.xlsx">>>Tải Excel Mẫu</a>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <form class="form-inline">
                    <input name="fileImportExcel" id="fileImportExcelCustomer" type="file" style="display:none" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" />
                </form>
                <form class="frmExcel">
                    <input name="fileImportExcel2" id="fileImportExcelCustomer2" type="file" style="display:none" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" />
                </form>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="input-group col-sm-12 col-xs-12 col-md-12">
                        <input type="text" id="txtsearch" class="form-control" placeholder="Họ và tên khách hàng, ID, Số điện thoại, Email" />
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="">
                        <button class="btn-gray" type="button" id="btnSearch">
                            <i class="glyphicon glyphicon-search"></i> <span class="hidden-xs hidden-sm">Tìm kiếm</span>
                        </button>
                        @if (ViewBag.IsAdd)
                        {
                            @*<button type="button" id="btnAdd" class="btn btn-success left5" data-toggle="modal" data-target="#createCustomerModal">
                                <i class="glyphicon glyphicon-plus"></i> <span class="hidden-xs hidden-sm">Thêm Mới</span>
                            </button>*@
                            <button class="btn-green" id="btnDoneExportExcel" type="button"><i class="fa fa-download" aria-hidden="true"></i><span class="hidden-sm hidden-xs">Export</span></button>
                        }
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-2">
                    <div class="input-group col-sm-12 col-xs-12 col-md-12">
                        <select class="form-control select2" id="drdStatus">
                            <option value="0">-- Trạng thái --</option>
                            @foreach (var item in InvestorStatus)
                            {
                                <option value="@item.Key">@item.Value</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-2">
                    <div class="input-group col-sm-12 col-xs-12 col-md-12">
                        <select class="form-control select2" id="drdView">
                            <option value="0">-- Tác vụ --</option>
                            <option value="1" id="PreviewInvestor">Xem thông tin </option>
                        </select>
                    </div>
                </div>
            </div>
            <table id="tblCustomer" class="table" data-toolbar="#toolbar"></table>
        </div>
    </div>
</div>
<div id="CustomersExport" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close closeModalExport" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Danh Sách Import</h4>
            </div>
            <div class="modal-body">
                <div id="checkboxes">
                    <input id="Name" type="checkbox" name="Name" checked="checked" />Name
                    <input id="Phone" type="checkbox" name="Phone" />Phone
                    <input id="Title" type="checkbox" name="Title" />Title
                    <input id="Email" type="checkbox" name="Email" checked="checked" />Email
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger closeModalExport">Đóng</button>
                <button type="submit" class="btn btn-success" id="btnDoneExportExcel">Lưu</button>
            </div>
        </div>
    </div>
</div>
