@using CRMBussiness.ViewModel
@model ShowUpHistoryCreateViewModel
<div class="header-modal">
    <h3 class="modal__title">Xóa thông tin show up</h3>
    <span title="close" modal-show="close" class="close__modal">
        <img src="/Assets/SA/images/list_data_image/close_24px.svg" />
    </span>
</div>
<div class="body-modal body_modal_delete">
    <input type="hidden" class="ShowId" value="@Model.Id" />
    <img class="delete_infor" src="/Assets/crm/images/employee-manage/delete-modal.png" />

    <p class="remind_me">
        Bạn chắc chắn muốn xoá thông tin khách hàng <span>@Model.InvestorName</span> chứ?
    </p>
</div>
<div class="footer-modal footer_madal_delete">
    <button modal-show="close" class="close__btn red__btn cancel" type="button">Hủy bỏ</button>
    <button class="close__btn red__btn agree" id="btn_delete-ex_investor" type="button">Xác nhận</button>
</div>