@model CRMBussiness.ViewModel.LevelConcernViewModel

<div class="header-modal">
    <h3 class="modal__title"></h3>
    <span title="close" modal-show="close" class="close__modal">
        <img src="/Assets/crm/images/employee-manage/close-modal.svg"
                alt="" />
    </span>
</div>
<div class="body-modal add-employee_body-modal">
    <input type="hidden" value="@Model.Id" id="hidden-id" />
    <img src="/Assets/crm/images/employee-manage/delete-modal.png"
            alt="" />
    <p>
        Bạn có chắc chắn muốn xóa mức độ quan tâm show up
        <span>@Model.NameConcern</span> không?
    </p>
</div>
<div class="footer-modal">
    <button id="delete-concern"
            type="button">
        Đồng ý
    </button>
    <button modal-show="close"
            class="close__btn btn-gray"
            type="button">
        Hủy bỏ
    </button>
</div>