<div class="header-modal">
    <h3 class="modal__title">Chọn mẫu hợp đồng</h3>
    <span title="close" modal-show="close" class="close__modal">
        <img src="/Assets/SA/images/list_data_image/close_24px.svg" />
    </span>
</div>
<div class="body-modal">
    <form id="create-form">
        <div class="bs-row row-lg-5 row-md-10 row-sm-15 row-xs10 row-tn-10">
            <input type="hidden" id="hidden-contract-id" />
            <div class="bs-col lg-100-10 md-100-10 sm-100-15 xs-100-10 tn-100-5">
                <div class="left">
                    <label for="fname">Mẫu hợp đồng</label><br>
                    <select class="select2" id="template-type">
                        <option value="0">Hợp đồng chuyển nhượng cổ phần</option>
                        <option value="1">Hợp đồng quản lý danh mục đầu tư</option>
                        <option value="2">Thỏa thuận bổ sung</option>
                        <option value="3">Hợp đồng chuyển nhượng</option>
                    </select>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="footer-modal group-button contract-detail_buttons" style="text-align: right;">
    <button class="btn-green" id="select-contract-template" style="width: auto;" type="button">Chọn mẫu hợp đồng</button>
    <button modal-show="close" class="btn-gray" type="button">Hủy bỏ</button>
</div>

<script>
    function selectPrintTemplate(callback) {
        let template = $('#template-type').val();
        var printUrl = '';
        switch (template) {
            case '0':
                printUrl = '/PrintContract/Print';
                callback(printUrl, $('#hidden-contract-id').val());
                break;

            case '1':
                printUrl = '/PrintContract/PrintDMDT';
                callback(printUrl, $('#hidden-contract-id').val());
                break;

            case '2':
                printUrl = '/PrintContract/PrintSupplementAgreement';
                callback(printUrl, $('#hidden-contract-id').val());
                break;
            case '3':
                printUrl = '/PrintContract/PrintTransferAgreement';
                callback(printUrl, $('#hidden-contract-id').val());
                break;
        }
    }
</script>
