@section Styles{
    <style>
        #main .main-content .module-content table tr:hover td {
            color: #5f6fff;
        }
    </style>
}

<div class="list-check-io">
    <section class="section_list_check_io">
        <div class="module module_list_check_io">
            <div class="module-header">
                <h2 class="title">
                    <img src="/Assets/SA/images/accountant-image/arrow_back_24px_rounded.svg" />
                    Danh sách check in/out
                </h2>
            </div>

            <div class="module-content">

                <div class="select" id="search-box">
                    <form id="search-form">
                        <div class="bs-row row-lg-5 row-md-5 row-sm-10 row-xs10 row-tn-10">
                            <div class="bs-col lg-20-5 md-33-5 sm-33-10 xs-100-10 tn-100-5">
                                <div class="select_lit select_lit_right">
                                    <div class="form-inline">
                                        <label>Tên show up</label>
                                        <input placeholder="Mã sự kiện, tên sự kiện" name="ShowUp">
                                    </div>
                                </div>
                            </div>

                            <div class="bs-col lg-20-5 md-33-5 sm-33-10 xs-100-10 tn-100-5">
                                <div class="select_lit select_lit_right">
                                    <label>Sản phẩm</label>
                                    <select class="select_product" name="Product">
                                        <option value="">--</option>
                                    </select>
                                </div>
                            </div>

                            <div class="bs-col lg-20-5 md-33-5 sm-33-10 xs-100-10 tn-100-5">
                                <div class="select_lit select_lit_right">
                                    <label>Nguồn khách hàng</label>
                                    <select class="select_resource" name="InvestorResource">
                                        <option value="">--</option>
                                    </select>
                                </div>
                            </div>

                            <div class="bs-col lg-20-5 md-33-5 sm-33-10 xs-100-10 tn-100-5">
                                <div class="select_lit select_lit_right">
                                    <div class="form-inline">
                                        <label>Từ khóa</label>
                                        <input placeholder="Nhập họ tên, số cmnd..." name="Key">
                                    </div>
                                </div>
                            </div>

                            <div class="bs-col lg-20-5 md-33-5 sm-33-10 xs-100-10 tn-100-5">
                                <div class="button_search">
                                    <button type="button" id="search-checkin">Tìm kiếm</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="list_button">
                    <div class="flex1">
                        <button class="button_lit button1 add_new" type="button" onclick="$('#myModal_add_new select').select2();" modal-show="show" modal-data="#myModal_add_new">
                            <img src="/Assets/SA/images/list_data_image/control_point_24px.svg" alt="" />
                            <p>Thêm mới</p>
                        </button>
                    </div>

                    <div class="flex2">
                        <div class="handle-button action more-options" style="cursor: pointer; user-select: none">
                            <p>Tác vụ</p>
                            <!-- more options -->
                            <img src="/Assets/SA/images/employee-attendance/more-options.svg" alt="" />
                            <div class="options">
                                <button class="option-item" type="button" id="View-CheckInOut">
                                    <div class="icon">
                                        <img src="/Assets/SA/images/layout/view-detail.svg" alt="" />
                                        <img src="/Assets/SA/images/layout/view-detail-active.svg" alt="" />
                                    </div>
                                    <span>Xem thông tin</span>
                                </button>
                                <button class="option-item" type="button" id="Edit-CheckInOut">
                                    <div class="icon">
                                        <img src="/Assets/SA/images/layout/edit.svg" alt="" />
                                        <img src="/Assets/SA/images/layout/edit-active.svg" alt="" />
                                    </div>
                                    <span>Chỉnh sửa</span>
                                </button>
                            </div>
                        </div>
                    </div>

                    <!-- modal-them -->
                    <div class="bs-modal" id="myModal_add_new">
                        <div class="modal-frame">
                            <div class="content-modal">
                                <partial name="_Create.cshtml" />
                            </div>
                        </div>
                    </div>

                    <!-- modal-chinh sua -->
                    <div class="bs-modal" id="myModal_fix">
                        <div class="modal-frame">
                            <div class="content-modal">

                            </div>
                        </div>
                    </div>

                    <!-- modal-chi tiet -->
                    <div class="bs-modal" id="myModal_detail">
                        <div class="modal-frame">
                            <div class="content-modal">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="wrap_table">
                    <table class="table table-responsive">
                        <thead>
                            <tr>
                                <th style="min-width: 20px;"></th>
                                <th style="min-width: 140px;">Mã khách</th>
                                <th style="min-width: 150px;">Họ tên khách</th>
                                <th style="min-width: 160px;">Số điện thoại</th>
                                <th style="min-width: 160px;">CC</th>
                                <th style="min-width: 160px;">CL T.O</th>
                                <th style="min-width: 160px;">Tele</th>
                                <th style="min-width: 160px;">Check in</th>
                                <th style="min-width: 160px;">Check out</th>
                                <th style="min-width: 180px;">Tên sự kiện</th>
                            </tr>
                        </thead>
                        <tbody id="table-body">
                        </tbody>
                    </table>
                </div>

                <div class="select_pagination">
                    <div class="select" id="size-page">
                        <p>Hiển thị từ <span class="from">1</span> đến <span class="to">6</span> trong tổng số <span class="total">6</span> bản ghi. Hiển thị</p>
                        <select>
                            <option value="10">10</option>
                            <option value="15">15</option>
                            <option value="20">20</option>
                            <option value="30">30</option>
                        </select>
                        <p>&nbsp;bản ghi trên trang.</p>
                    </div>
                    <div class="pagination" id="pagination">
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@section scripts{
    <script src="~/js/controllers/checkinForTele.js"></script>
}