
<div class="sale-admin-container">
    <div id="sale-admin">
        <div class="border-div header">
            <label class="font-weight-bold">Sale Manager</label>
        </div>
        <div class="border-div">
            <div class="row salary-table">
                <div class="col-md-8 col-sm-12 revenue-table-content">
                    <table border="1">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Hoa hồng nhóm SM</th>
                                <th>Lương cứng<br /></th>
                                <th>Doanh số cá nhân tối thiểu<br /></th>
                                <th>Doanh số nhóm SM<br /></th>
                            </tr>
                        </thead>
                        <tbody class="body-table">
                            <tr class="managerSaleAdd">
                                <td><label>Level 1</label></td>
                                <td>
                                    <div>
                                        <input type="number" name="" class="Remuneration_Admin_Manager" />
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <input type="number" name="" class="Salary_Admin_Manager" />
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <input type="text" name="MinMaxOwn" class="isMinMax" />
                                    </div>
                                </td>
                                <td class="resize">
                                    <div>
                                        <input type="text" name="MinMaxGroup" class="isMinMax" />
                                    </div>
                                </td>
                                <td>
                                    <div class="tools-box">
                                        <button type="button" onclick="RemoveSalaryForSaleManager(this)" class="remove-level">-</button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="">
                        <button type="button" onclick="AddSalaryForSaleManager(this)" class="add-level">+</button>
                    </div>
                </div>
            </div>
        </div>
        <label class="note-text">
            Hoa hồng của SM = Hoa hồng cá nhân + Hoa hồng các nhóm + Hoa hồng cá nhân = Doanh số cá nhân * mức hoa hồng cá nhân đã set up (tính như doanh số 1 sale)
            Hoa hồng các nhóm = Doanh số nhóm 1 * mức hoa hồng  + Doanh số nhóm 2 * mức hoa hồng +.....(tính như một leader sale nhưng không tính hoa hồng cá nhân cho nhóm làm leader)
            Doanh số nhóm SM là doanh số của tất cả nhóm mà SM quản lý
        </label>
    </div>
</div>


<div style="text-align: center; margin-top: 10px;">
    <button class="btn btn-danger">Hủy bỏ</button>
    <button class="btn btn-primary" id="btnSaleManagerUpdate">Cập nhật</button>
</div>