<div class="header-modal">
    <h3 class="modal__title">XÁC THỰC KÝ HỢP ĐỒNG</h3>
    <span title="close" modal-show="close" class="close__modal">
        <img src="/Assets/SA/images/list_data_image/close_24px.svg" />
    </span>
</div>
<div class="body-modal">
    <form id="valid-form">
        <div class="bs-row row-lg-5 row-md-10 row-sm-15 row-xs10 row-tn-10">

            <div class="bs-col lg-100-10 md-100-10 sm-100-15 xs-100-10 tn-100-5">
                <div class="left">
                    <label for="fname">Mã xác thực</label><br>
                    <input name="otp" />
                    @*@Html.EditorFor(model => model.Name, new { htmlAttributes = new { } })*@
                    <br><br>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="footer-modal">
    <button class="close__btn red__btn" style="background-color: #4865f5;" id="resend-otp" onclick="ResendOTP()" type="button">Gửi lại OTP</button>
    <button class="close__btn red__btn" style="background-color: #17CA89;" id="confirm-otp" onclick="ConfirmOTP()" type="button">Xác nhận</button>
    <button class="close__btn red__btn" style="background-color: #C6D1E6;" modal-show="close" type="button">Hủy bỏ</button>
</div>