<div class="header-modal">
    <h3 class="modal__title">Ký hợp đồng</h3>
    <span title="close" modal-show="close" class="close__modal">
        <img src="/Assets/SA/images/layout/close-modal.svg" />
    </span>
</div>

<div class="body-modal">
    <div style="text-align: center;">
        <div class="wrapper">
            <canvas id="signature-pad" class="signature-pad" width=400 height=200></canvas>
        </div>
        <div class="sign-tools">
            <button id="save-png">
                <i class="fa fa-save"></i>
                @*Lưu chữ ký*@
            </button>
            <button id="undo">
                <i class="fa fa-undo"></i>
                @*Hoàn tác*@
            </button>
            <button id="clear">
                <i class="fa fa-refresh"></i>
                @*Ký lại*@
            </button>
        </div>
    </div>
</div>