<div class="accountant_contact-manage">
    <section class="section_accountant_contact-manage">
        <div class="bs-row">
            <div class="bs-col">
                <div class="module module_accountant">

                    <div class="module-header">
                        <p class="title">
                            <img src="images/accountant_contact-manage/arrow_back_24px_rounded.svg" />
                            DANH SÁCH DUYỆT THANH TOÁN HỢP ĐỒNG
                        </p>
                    </div>

                    <div class="module-content">
                        <div class="search">
                            <div class="select_search">
                                <div class="bs-row row-lg-10 row-md-5 row-sm-15 row-xs-5 row-tn-5">
                                    <div class="bs-col lg-25-10 md-25-5 sm-50-15 xs-50-5 tn-100-5">
                                        <div class="select_lit">
                                            <label>Tên nguồn khách hàng</label>
                                            <select class="select_customer">
                                                <option value="0" disabled selected>Chọn</option>
                                                <option value="1">Nhân viên</option>
                                                <option value="2">Giám đốc</option>
                                                <option value="3">Đốc</option>
                                                <option value="4">Giám</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="bs-col lg-25-10 md-25-5 sm-50-15 xs-50-5 tn-100-5">
                                        <div class="select_lit">
                                            <label>Tele Sale</label>
                                            <select class="select_staff">
                                                <option value="" disabled selected>Chọn</option>
                                                <option>Nhân viên</option>
                                                <option>Giám đốc</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="bs-col lg-25-10 md-25-5 sm-50-15 xs-50-5 tn-100-5">
                                        <div class="select_lit">
                                            <label>Sale</label>
                                            <select class="select_sale">
                                                <option value="" disabled selected>Chọn</option>
                                                <option>Nhân viên</option>
                                                <option>Giám đốc</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="bs-col lg-25-10 md-25-5 sm-50-15 xs-50-5 tn-100-5">
                                        <div class="select_lit">
                                            <form class="form-inline">
                                                <label>Từ khóa</label>
                                                <input placeholder="Tên nhân sự, ID">
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="button_search">
                                <button type="submit">Tìm kiếm</button>
                            </div>
                        </div>

                        <div class="list_button">
                            <button class="button_lit button1">
                                <img src="images/accountant_contact-manage/edit_24px.svg" alt="" />
                                <p>Chỉnh sửa</p>
                            </button>
                            <button class="button_lit button2" id="myBtn1">
                                <img src="images/accountant_contact-manage/done_all_24px_rounded.svg" alt="" />
                                <p>Duyệt</p>
                            </button>
                            <button class="button_lit button3" id="myBtn">
                                <img src="images/accountant_contact-manage/cancel_24px_rounded.svg" alt="" />
                                <p>Không duyệt</p>
                            </button>
                            <button class="button_lit button4">
                                <img src="images/accountant_contact-manage/reply_24px.svg" alt="" />
                                <p>Xuất file Excel</p>
                            </button>

                            <!--The modal 1-->
                            <div id="myModal1" class="modal">
                                <div class="modal-content1">
                                    <div class="title">
                                        <span class="close1">
                                            <img src="images/accountant_contact-manage/close_24px.svg" />
                                        </span>
                                        <p>Thông tin Thu/Chi</p>
                                    </div>

                                    <form>
                                        <div class="bs-row row-lg-10 row-md-10 row-sm-15 row-xs10 row-tn-10">
                                            <div class="bs-col lg-50-10 md-50-10 sm-50-15 xs-100-10 tn-100-5">
                                                <div class="left">
                                                    <label for="fname">Mã phiếu <span style="color: red;">*</span></label><br>
                                                    <input type="text" id="fname" name="fname"><br><br>
                                                </div>

                                                <div class="left">
                                                    <label for="fname">Loại phiếu <span style="color: red;">*</span></label><br>
                                                    <select class="select_modal1">
                                                        <option>Phiếu thu</option>
                                                        <option>Saab</option>
                                                    </select>
                                                </div>

                                                <div class="left date">
                                                    <label for="fname">Ngày lập phiếu <span style="color: red;">*</span></label><br>
                                                    <!-- <input type="text" id="fname" name="fname"><br><br> -->
                                                    <input type="text" class="search__input form_datetime" placeholder="Chọn thời gian">
                                                </div>

                                                <div class="left">
                                                    <label for="fname">Số tiền <span style="color: red;">*</span></label><br>
                                                    <input type="text" id="fname" name="fname"><br><br>
                                                </div>

                                                <div class="left">
                                                    <label for="fname">Hình thức <span style="color: red;">*</span></label><br>
                                                    <select class="select_modal2">
                                                        <option>Chuyển khoản</option>
                                                        <option>Tiền mặt</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="bs-col lg-50-10 md-50-10 sm-50-15 xs-100-10 tn-100-5">
                                                <div class="right">
                                                    <label for="fname">Giá trị hợp đồng:</label><br>
                                                    <input type="text" disabled id="fname" name="fname"><br><br>
                                                </div>

                                                <div class="right">
                                                    <label for="fname">Đã thanh toán lần 1</label><br>
                                                    <input type="text" disabled id="fname" name="fname"><br><br>
                                                </div>

                                                <div class="right">
                                                    <label for="fname">Đã thanh toán lần 2</label><br>
                                                    <input type="text" disabled id="fname" name="fname"><br><br>
                                                </div>

                                                <div class="right">
                                                    <label for="fname">Đã thanh toán lần 3</label><br>
                                                    <input type="text" disabled id="fname" name="fname"><br><br>
                                                </div>

                                                <div class="right">
                                                    <label for="fname">Còn lại</label><br>
                                                    <input type="text" disabled id="fname" name="fname"><br><br>
                                                </div>
                                            </div>
                                        </div>

                                        <label for="fname">Ghi chú</label><br>
                                        <input type="text" id="fname" name="fname"><br><br>
                                    </form>

                                    <div class="two_button">
                                        <button class="bt button_cancel1">Hủy bỏ</button>
                                        <button class="bt button_update">Cập nhập</button>
                                    </div>
                                </div>
                            </div>

                            <!-- The Modal 2-->
                            <div id="myModal" class="modal">
                                <div class="modal-content">
                                    <div class="title">
                                        <span class="close">
                                            <img src="images/accountant_contact-manage/close_24px.svg" />
                                        </span>
                                        <p>KHÔNG DUYỆT</p>
                                    </div>

                                    <form>
                                        <label>Lý do từ chối:</label>
                                        <input placeholder="" />
                                    </form>

                                    <div class="two_button">
                                        <button class="bt button_cancel">Hủy bỏ</button>
                                        <button class="bt button_update">Cập nhập</button>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="wrap_table">
                            <table class="table table-responsive">
                                <thead>
                                    <tr>
                                        <th>
                                            <!-- <label><input type="radio"></label> -->
                                            <div class="custom-checkbox">
                                                <input type="checkbox" />
                                                <span class="checkmark"></span>
                                            </div>
                                        </th>
                                        <th>STT</th>
                                        <th>Mã hợp đồng</th>
                                        <th>Tên khách hàng</th>
                                        <th>Số CMND</th>
                                        <th>Số điện thoại</th>
                                        <th>Sale</th>
                                        <th>Tele sale </th>
                                        <th>Trạng thái</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <form>

                                        <tr>
                                            <td>
                                                <!-- <div class="radio">
                                                  <label><input type="radio" id='regular' name="optradio"></label>
                                                </div> -->
                                                <div class="custom-checkbox">
                                                    <input type="checkbox" />
                                                    <span class="checkmark"></span>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="radiotext">
                                                    <label for='regular'>1</label>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="radiotext">
                                                    <label for='regular'>0676</label>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="radiotext">
                                                    <label for='regular'>Phạm Văn Tuấn</label>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="radiotext">
                                                    <label for='regular'>184022092</label>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="radiotext">
                                                    <label for='regular'>0987878787</label>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="radiotext">
                                                    <label for='regular'>Nguyễn A</label>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="radiotext">
                                                    <label for='regular'>Nguyễn B</label>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="radiotext status">
                                                    <label for='regular'>Đang thanh toán</label>
                                                </div>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <!-- <div class="radio">
                                                  <label><input type="radio" id='regular' name="optradio"></label>
                                                </div> -->
                                                <div class="custom-checkbox">
                                                    <input type="checkbox" />
                                                    <span class="checkmark"></span>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="radiotext">
                                                    <label for='regular'>1</label>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="radiotext">
                                                    <label for='regular'>0676</label>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="radiotext">
                                                    <label for='regular'>Phạm Văn Tuấn</label>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="radiotext">
                                                    <label for='regular'>184022092</label>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="radiotext">
                                                    <label for='regular'>0987878787</label>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="radiotext">
                                                    <label for='regular'>Nguyễn A</label>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="radiotext">
                                                    <label for='regular'>Nguyễn B</label>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="radiotext status">
                                                    <label for='regular'>Đang thanh toán</label>
                                                </div>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <!-- <div class="radio">
                                                  <label><input type="radio" id='regular' name="optradio"></label>
                                                </div> -->
                                                <div class="custom-checkbox">
                                                    <input type="checkbox" />
                                                    <span class="checkmark"></span>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="radiotext">
                                                    <label for='regular'>1</label>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="radiotext">
                                                    <label for='regular'>0676</label>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="radiotext">
                                                    <label for='regular'>Phạm Văn Tuấn</label>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="radiotext">
                                                    <label for='regular'>184022092</label>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="radiotext">
                                                    <label for='regular'>0987878787</label>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="radiotext">
                                                    <label for='regular'>Nguyễn A</label>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="radiotext">
                                                    <label for='regular'>Nguyễn B</label>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="radiotext status">
                                                    <label for='regular'>Đang thanh toán</label>
                                                </div>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <!-- <div class="radio">
                                                  <label><input type="radio" id='regular' name="optradio"></label>
                                                </div> -->
                                                <div class="custom-checkbox">
                                                    <input type="checkbox" />
                                                    <span class="checkmark"></span>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="radiotext">
                                                    <label for='regular'>1</label>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="radiotext">
                                                    <label for='regular'>0676</label>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="radiotext">
                                                    <label for='regular'>Phạm Văn Tuấn</label>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="radiotext">
                                                    <label for='regular'>184022092</label>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="radiotext">
                                                    <label for='regular'>0987878787</label>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="radiotext">
                                                    <label for='regular'>Nguyễn A</label>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="radiotext">
                                                    <label for='regular'>Nguyễn B</label>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="radiotext status">
                                                    <label for='regular'>Đang thanh toán</label>
                                                </div>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <!-- <div class="radio">
                                                  <label><input type="radio" id='regular' name="optradio"></label>
                                                </div> -->
                                                <div class="custom-checkbox">
                                                    <input type="checkbox" />
                                                    <span class="checkmark"></span>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="radiotext">
                                                    <label for='regular'>1</label>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="radiotext">
                                                    <label for='regular'>0676</label>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="radiotext">
                                                    <label for='regular'>Phạm Văn Tuấn</label>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="radiotext">
                                                    <label for='regular'>184022092</label>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="radiotext">
                                                    <label for='regular'>0987878787</label>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="radiotext">
                                                    <label for='regular'>Nguyễn A</label>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="radiotext">
                                                    <label for='regular'>Nguyễn B</label>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="radiotext status">
                                                    <label for='regular'>Đang thanh toán</label>
                                                </div>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <!-- <div class="radio">
                                                  <label><input type="radio" id='regular' name="optradio"></label>
                                                </div> -->
                                                <div class="custom-checkbox">
                                                    <input type="checkbox" />
                                                    <span class="checkmark"></span>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="radiotext">
                                                    <label for='regular'>1</label>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="radiotext">
                                                    <label for='regular'>0676</label>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="radiotext">
                                                    <label for='regular'>Phạm Văn Tuấn</label>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="radiotext">
                                                    <label for='regular'>184022092</label>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="radiotext">
                                                    <label for='regular'>0987878787</label>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="radiotext">
                                                    <label for='regular'>Nguyễn A</label>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="radiotext">
                                                    <label for='regular'>Nguyễn B</label>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="radiotext status">
                                                    <label for='regular'>Đang thanh toán</label>
                                                </div>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <!-- <div class="radio">
                                                  <label><input type="radio" id='regular' name="optradio"></label>
                                                </div> -->
                                                <div class="custom-checkbox">
                                                    <input type="checkbox" />
                                                    <span class="checkmark"></span>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="radiotext">
                                                    <label for='regular'>1</label>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="radiotext">
                                                    <label for='regular'>0676</label>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="radiotext">
                                                    <label for='regular'>Phạm Văn Tuấn</label>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="radiotext">
                                                    <label for='regular'>184022092</label>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="radiotext">
                                                    <label for='regular'>0987878787</label>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="radiotext">
                                                    <label for='regular'>Nguyễn A</label>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="radiotext">
                                                    <label for='regular'>Nguyễn B</label>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="radiotext status">
                                                    <label for='regular'>Đang thanh toán</label>
                                                </div>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <!-- <div class="radio">
                                                  <label><input type="radio" id='regular' name="optradio"></label>
                                                </div> -->
                                                <div class="custom-checkbox">
                                                    <input type="checkbox" />
                                                    <span class="checkmark"></span>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="radiotext">
                                                    <label for='regular'>1</label>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="radiotext">
                                                    <label for='regular'>0676</label>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="radiotext">
                                                    <label for='regular'>Phạm Văn Tuấn</label>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="radiotext">
                                                    <label for='regular'>184022092</label>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="radiotext">
                                                    <label for='regular'>0987878787</label>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="radiotext">
                                                    <label for='regular'>Nguyễn A</label>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="radiotext">
                                                    <label for='regular'>Nguyễn B</label>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="radiotext status">
                                                    <label for='regular'>Đang thanh toán</label>
                                                </div>
                                            </td>
                                        </tr>

                                    </form>
                                </tbody>
                            </table>
                        </div>

                        <div class="select_pagination">
                            <div class="select">
                                <p>Hiển thị từ 1 đến 30 trong tổng số 999 bản ghi</p>
                                <select>

                                    <option>1</option>

                                    <option>2</option>

                                    <option>3</option>

                                    <option>4</option>

                                    <option>5</option>

                                    <option>6</option>

                                    <option>7</option>

                                    <option>8</option>

                                    <option>9</option>

                                    <option>10</option>

                                    <option>11</option>

                                    <option>12</option>

                                    <option>13</option>

                                    <option>14</option>

                                    <option>15</option>

                                    <option>16</option>

                                    <option>17</option>

                                    <option>18</option>

                                    <option>19</option>

                                    <option>20</option>

                                    <option>21</option>

                                    <option>22</option>

                                    <option>23</option>

                                    <option>24</option>

                                    <option>25</option>

                                    <option>26</option>

                                    <option>27</option>

                                    <option>28</option>

                                    <option>29</option>

                                    <option>30</option>

                                </select>
                            </div>
                            <div class="pagination">
                                <button class="active" id="id1">1</button>
                                <button id="id2">2</button>
                                <button id="id3">3</button>
                                <button id="id4">
                                    <img src="images/layout/chev-left.svg" alt="" />
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@section Scripts{
    <script src="~/Content/js/app.js"></script>
    <script src="~/Content/js/extend/method.js"></script>
    <script src="~/js/system.js"></script>
    <script src="~/js/controllers/confirm-payment.js"></script>
    <script>
        $(document).ready(function () {
            $('.select_customer').select2();
            $('.select_staff').select2();
            $('.select_sale').select2();
            $('.select_modal1').select2();
            $('.select_modal2').select2();

            $('#id1, #id2, #id3, #id4').click(function () {
                $('#id1, #id2, #id3, #id4').removeClass('active');
                $(this).addClass('active');
            });

            $(".form_datetime").datetimepicker({
                container: ".date"
            });
        });

        var modal1 = document.getElementById("myModal1");
        var btn1 = document.getElementById("myBtn1");
        var span1 = document.getElementsByClassName("close1")[0];
        var span11 = document.getElementsByClassName("button_cancel1")[0];
        btn1.onclick = function () {
            modal1.style.display = "block";
        }
        span1.onclick = function () {
            modal1.style.display = "none";
        }
        span11.onclick = function () {
            modal1.style.display = "none";
        }
        window.onclick = function (event) {
            if (event.target == modal1) {
                modal1.style.display = "none";
            }
        }
        var modal = document.getElementById("myModal");
        var btn = document.getElementById("myBtn");
        var span = document.getElementsByClassName("close")[0];
        var span1 = document.getElementsByClassName("button_cancel")[0];
        btn.onclick = function () {
            modal.style.display = "block";
        }
        span.onclick = function () {
            modal.style.display = "none";
        }
        span1.onclick = function () {
            modal.style.display = "none";
        }
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>
}
