@model CRMBussiness.ViewModel.FileUploadViewModel

<div class="header-modal">
    <h3 class="modal__title">thêm mới file
    </h3>
    <span title="close" modal-show="close" class="close__modal">
        <img src="/Assets/crm/images/layout/close-modal.svg" alt="" />
    </span>
</div>

<!-- body -->
<div class="body-modal">
    <form id="create-form" enctype="multipart/form-data">
        <div class="bs-row">
            <!-- modal item -->
            <div class="bs-col sm-50">
                <div class="modal-item">
                    <label>Tệp tin</label>
                    <input type="file" name="File" accept="image/*" placeholder="Chọn tệp tin" />
                </div>
            </div>
            <!-- modal item -->
            <div class="bs-col sm-50">
                <div class="modal-item">
                    <label>Lý do</label>
                    @Html.EditorFor(model => model.Reason)
                </div>
            </div>
        </div>
    </form>
</div>

<!-- footer -->
<div class="footer-modal">
    <button class="close__btn btn-green"
            id="create-file"
            type="button">
        Lưu
    </button>
    <button modal-show="close"
            class="close__btn btn-gray"
            type="button">
        Hủy bỏ
    </button>
</div>