<div class="header-modal">
    <h3 class="modal__title">
        xem chi tiết
    </h3>
    <span title="close" modal-show="close" class="close__modal">
        <img src="/Assets/crm/images/layout/close-modal.svg" alt="" />
    </span>
</div>

<!-- body -->
<div class="body-modal">
    <form id="create-form" enctype="multipart/form-data">
        <div class="bs-row">
            <!-- modal item -->
            <div class="bs-col sm-100">
                <div class="modal-item">
                    <img src="@Url.Content(ViewBag.Url)" />
                </div>
            </div>
        </div>
    </form>
</div>

<!-- footer -->
<div class="footer-modal">
    <button modal-show="close"
            class="close__btn btn-gray"
            type="button">
        Đóng
    </button>
</div>