@model List<CRMBussiness.ViewModel.EarningViewModel>
@section Styles{ 
    <style>
        #main .main-content table tr:hover td {
            border-color: #e3e8f0;
            font-weight: 600;
            color: #5f6fff
        }

        #main .main-content table .selected td {
            color: #474EFF
        }

            #main .main-content table .selected td:first-child {
                position: relative
            }

                #main .main-content table .selected td:first-child::before {
                    content: "";
                    position: absolute;
                    width: 4px;
                    height: 35px;
                    background: #17CA89;
                    border-radius: 0 4px 4px 0;
                    left: 0;
                    top: 10px
                }

    </style>
}

<div class="accountant_salary">
    <section class="section_accountant_salary">
        <div class="module module_accountant_salary">
            <div class="module-header">
                <p class="title">
                    <img src="/Assets/crm/images/accountant-image/arrow_back_24px_rounded.svg" />
                    Bảng lương
                </p>
            </div>

            <div class="module-content">
                <div class="select search-box">
                    <form id="search-form">
                        <div class="bs-row row-lg-10 row-md-10 row-sm-15 row-xs10 row-tn-10">
                            <div class="bs-col lg-25-10 md-25-10 sm-50-15 xs-100-10 tn-100-5">
                                <div class="select_lit">
                                    <div class="form-inline date">
                                        <label>Thời gian</label>
                                        <input type="text" name="Month" class="search__input only-month" placeholder="Chọn thời gian">
                                    </div>
                                </div>
                            </div>

                            <div class="bs-col lg-25-10 md-25-10 sm-50-15 xs-100-10 tn-100-5">
                                <div class="select_lit">
                                    <label>Chức vụ</label>
                                    <select name="Position" class="select_position">
                                        <option value="4">Sale</option>
                                        <option value="5">Leader Sale</option>
                                        <option value="6">Sale Manager</option>
                                        <option value="7">Sale Admin</option>
                                        <option value="8">Telesale</option>
                                        <option value="9">Leader Telesale</option>
                                    </select>
                                </div>
                            </div>

                            <div class="bs-col lg-25-10 md-25-10 sm-50-15 xs-100-10 tn-100-5">
                                <div class="select_lit">
                                    <label>Chi nhánh</label>
                                    <select name="Branch" class="select-branch">
                                    </select>
                                </div>
                            </div>

                            <div class="bs-col lg-25-10 md-25-10 sm-50-15 xs-100-10 tn-100-5">
                                <div class="select_lit">
                                    <label>Phòng</label>
                                    <select name="Department" class="select-dept">
                                    </select>
                                </div>
                            </div>

                            <div class="bs-col lg-25-10 md-25-10 sm-50-15 xs-100-10 tn-100-5">
                                <div class="select_lit">
                                    <label>Nhóm</label>
                                    <select name="Team" class="select-team">
                                    </select>
                                </div>
                            </div>

                            <div class="bs-col lg-25-10 md-25-10 sm-50-15 xs-100-10 tn-100-5">
                                <div class="select_lit">
                                    <label>Trạng thái</label>
                                    <select name="Status" class="select_status">
                                        <option value="">--</option>
                                        <option value="true">Đang làm việc</option>
                                        <option value="false">Không làm việc</option>
                                    </select>
                                </div>
                            </div>

                            <div class="bs-col lg-25-10 md-25-10 sm-50-15 xs-100-10 tn-100-5">
                                <div class="select_lit">
                                    <div class="form-inline">
                                        <label>Từ khóa</label>
                                        <input name="Key" placeholder="Tên nhân sự, ID" id="search-key">
                                    </div>
                                </div>
                            </div>

                            <div class="bs-col lg-25-10 md-25-10 sm-50-15 xs-100-10 tn-100-5">
                                <div class="button_search">
                                    <button type="button" id="search-earning" style="margin-bottom: 2px;">Tìm kiếm</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="export">
                    <button class="button_lit ">
                        <img src="/Assets/crm/images/accountant-image/reply_24px.svg" alt="" />
                        <p>Xuất file Excel</p>
                    </button>
                </div>

                <div class="wrap_table responsive-table header-fixed">
                    <table class="white-table" style="min-width: 800px">
                        <thead>
                            <tr>
                                <th style="min-width: 20px;">ID</th>
                                <th style="min-width: 100px;">Họ và tên</th>
                                <th style="min-width: 100px;">Nhóm</th>
                                <th style="min-width: 100px;">Phòng</th>
                                <th style="min-width: 100px;">Chi nhánh</th>
                                <th style="min-width: 100px;">Chức vụ</th>
                                <th style="min-width: 100px;">Ngày công chuẩn</th>
                                <th style="min-width: 100px;">Ngày công thực tế</th>
                                <th style="min-width: 100px;">Về sớm</th>
                                <th style="min-width: 100px;">Đi muộn</th>
                                <th style="min-width: 100px;">Quên checkin/checkout</th>
                                <th style="min-width: 100px;">Nghỉ không lý do</th>
                                <th style="min-width: 100px;">Nghỉ phép</th>
                                <th style="min-width: 100px;">Số show up(Telesale)</th>
                                <th style="min-width: 100px;">Doanh số cá nhân(CC)</th>
                                <th style="min-width: 100px;">Doanh số nhóm(CL)</th>
                                <th style="min-width: 100px;">Doanh số phòng(CM)</th>
                                <th style="min-width: 100px;">Doanh số khối(CD)</th>
                                <th style="min-width: 100px;">Doanh số chi nhánh(Admin)</th>
                                <th style="min-width: 100px;">Cổ phần cá nhân(CC)</th>
                                <th style="min-width: 100px;">Cổ phần theo nhóm(CL)</th>
                                <th style="min-width: 100px;">Cổ phần theo phòng(CM)</th>
                                <th style="min-width: 100px;">Cổ phần theo khối(CD)</th>
                                <th style="min-width: 100px;">Tổng cổ phần</th>
                                <th style="min-width: 100px;">Lương</th>
                                @*<th style="min-width: 160px;">Thưởng thâm niên</th>
        <th style="min-width: 120px;">BHXH</th>*@
                                <th style="min-width: 140px;">Phí công đoàn</th>
                                <th style="min-width: 160px;">Thưởng chuyên cần</th>
                                @*<th style="min-width: 160px;">Thuế TNCN</th>*@
                                <th style="min-width: 120px;">Hoa hồng</th>
                                <th style="min-width: 120px;">Tiền phạt</th>
                                <th style="min-width: 120px;">Thưởng khác</th>
                                <th style="min-width: 130px;">Tổng thực nhận</th>
                            </tr>
                        </thead>
                        <tbody id="table-body">
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="select_pagination">
                <div class="select" id="size-page">
                    <p>Hiển thị từ <span class="from">1</span> đến <span class="to">6</span> trong tổng số <span class="total">6</span> bản ghi. Hiển thị</p>
                    <select>
                        <option value="10">10</option>
                        <option value="15">15</option>
                        <option value="20">20</option>
                        <option value="30">30</option>
                    </select>
                    <p>&nbsp;bản ghi trên trang.</p>
                </div>
                <div class="pagination" id="pagination">
                </div>
            </div>
        </div>
    </section>
</div>

@section Scripts{
    <script>
        let actionUrl = '/HR/Earning/';
    </script>
    <script src="~/js/controllers/earning.js"></script>
}